    <div class="row">
    <a ui-sref="slider" class="blue">item slider</a>
    <a ui-sref="slider-swipe" class="blue">swipe slider</a>	
    	<h4>iscroll slider</h4> <a href="https://www.javascripting.com/view/iscroll" class="blue">iscroll slider Page</a>

        <div id="viewport">
            <div id="wrapper">
                <div id="scroller">
                    <div class="slide">
                        <div class="painting giotto"></div>
                    </div>
                    <div class="slide">
                        <div class="painting leonardo"></div>
                    </div>
                    <div class="slide">
                        <div class="painting gaugin"></div>
                    </div>
                    <div class="slide">
                        <div class="painting warhol"></div>
                    </div>
                </div>
            </div>
        </div>

            <div id="indicator">
            <div id="dotty"></div>
        </div>
    </div>
