    <div class="row">
        <a ui-sref="slider" class="blue">item slider</a>	
        <a ui-sref="slider-iscroll" class="blue">iscroll slider</a> 
    	<h4>swipe slider</h4> <a href="https://github.com/thebird/Swipe/blob/master/index.html" class="blue">swipe slider Page</a>

        <div id='mySwipe' style='max-width:500px;margin:0 auto' class='swipe'>
  <div class='swipe-wrap'>
    <div class="blue-background"><b>0</b></div>
    <div class="green-background"><b>1</b></div>
    <div class="yellow-background"><b>2</b></div>
    <div class="red-background"><b>3</b></div>
  </div>
</div>



<div style='text-align:center;padding-top:20px;'>
  
  <button onclick='mySwipe.prev()' class="slide-btn">prev</button> 
  <button onclick='mySwipe.next()' class="slide-btn">next</button>

</div>




    </div>
